$main-content-color: rgba(185, 185, 185, 0.4);
$card-color: #FFFFFF;
$box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
$color-v0: #FFFFFF;
$color-v1: rgba(64, 64, 122, 0.9);
$color-v2: rgba(33, 140, 116, 1.0);
$color-v3: rgba(255, 177, 66, 1.0);
$color-v4: rgba(52, 172, 224, 1.0);
$color-v5: rgba(33, 140, 116, 0.9);
$color-v6: rgb(255, 255, 255);
$color-v7: rgba(255, 82, 82, 1.0);
$color-bg: rgba(255, 255, 255, 1.0);

/** base-font **/
.base-font{
  font-family: $font-family;
}
